.about__container {
  background-color:white;
  height:100vh;
}

.about__title {
margin:80px;

}

.about_p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size:20px;
  text-align: left;
  width: 500px;
  color:#214054;
}

.about_top_section {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  color:#214054;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size:50px;
}