$lime: #f7ffbd;
$lime_shading: #e8f587;
$lime_bud: #2f3333;
$lime_leaf: #7ebfb6;

@mixin center_flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lime_container {
	@include center_flex();
	// background-color: #214054;
	height: 600px;
}

.total {
	transform: translate(27px);
	@include center_flex();
}

.total_lime {
	@include center_flex();
	position: relative;
	animation: lime_float 3s infinite ease;
}

.lime {
	position: relative;
	height: 180px;
	width: 160px;
	border-radius: 50%;
	background-color: $lime;
	box-shadow: 6px 1px $lime_shading;
}

.lime_shading {
	position: relative;
	z-index: 4;
	height: 180px;
	width: 80px;
	border-radius: 0 90px 90px 0;
	background: $lime_shading;
	transform: translate(160px);
}

.lime_nobs {
	position: relative;
	flex-direction: column;
	@include center_flex();
}

.lime_top_nob {
	position: relative;
	z-index: 0;
	width: 35px;
	height: 45px;
	border-radius: 50%;
	background-color: $lime;
	transform: translate(0, -110px);
}

.lime_bottom_nob {
	position: relative;
	width: 35px;
	height: 45px;
	border-radius: 50%;
	background-color: $lime;
	transform: translate(0, 5px);
}

.lime_top_nob_shading {
	position: relative;
	height: 35px;
	width: 16px;
	border-radius: 0 90px 90px 0;
	background-color: $lime_shading;
	transform: translate(18px, 1px);
}

.lime_bottom_nob_shading {
	position: relative;
	height: 35px;
	width: 16px;
	border-radius: 0 90px 90px 0;
	background-color: $lime_shading;
	transform: translate(18px, 10px);
}

.lime_top_bud {
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: $lime_bud;
	transform: translate(13px, -35px);
}

.lime_bottom_bud {
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: $lime_bud;
	transform: translate(12px, 4px);
}

.lime_leaf {
	position: relative;
	z-index: 1;
	width: 55px;
	height: 95px;
	transform: translate(-52px, -43px)rotate(40deg);
	border-radius: 80% 0% 90% 0%;
	animation: lime_leaf 3s infinite;
	background-color: $lime_leaf;
}

.lime_shadow {
	position: relative;
	background-color: #0e202b;
	border-radius: 50%;
	height: 45px;
	width: 140px;
	animation: lime_shadow 3s infinite;
	box-shadow: 0 0 2px 5px #0e202b;
}

// Chage leaf color
@keyframes lime_leaf {
	0% {
		background-color: $lime_leaf;
	}
	50% {
		background-color: #59968e;
	}

	100% {
		background-color: $lime_leaf;
	}
}

@keyframes lime_shadow {
	0% {
		opacity: .5;
		transform: translate(-150px, 170px) scale(1);
	}
	50% {
		opacity: 1.5;
		transform: translate(-150px, 170px) scale(1.15);
	}
	100% {
		opacity: .5;
		transform: translate(-150px, 170px) scale(1);
	}
}

@keyframes lime_float {
	0% {
		transform: translateY(-60px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-60px);
	}
}
