@import "universal_styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$border: 1px solid blue;
$book-height: 25px;
$book-border-radius: 2px;
$book-width: $book-height * 4;
$book-pages: #fffefa;
$book1-color: #c7a2f5;
$book1-ribbon: #9cd6ac;
$book1-ribbon2: #77ba8a;
$book2-color: #5999ff;
$book2-ribbon: #faba7a;
$book2-ribbon2: #e09448;
$book3-color: #ffeea3;
$book3-color2: #ffd57a;
$book3-color3: #baf0ff;
$book3-color4: #98cbd9;
$book3-label: #baf0ff;
$book3-label2: #98cbd9;
$book4-color: #ff8b8b;
$book4-color2: #f06e6e;
$book4-border: #fff2b3;
$book5-color: #b5ffdc;
$book5-color2: #86d9b1;
$book5-border: #418ad9;
$book5-label: #58a8fc;
$book5-label2: #418ad9;
$font: "Open Sans", sans-serif;

$delays: 0s, 0.2s, 0.4s, 0.6s, 0.8s, 1s;
$delays2: 2.2s, 2s, 1.8s 1.6s, 1.4s, 1.2s;

@for $i from 1 to 6 {
  $delay: nth($delays, $i);
  .book-#{$i} {
    // animation: books-animation 1s $delay forwards;
  }
}

$vertical-book-height: 100px;
$vertical-book-width: 15px;
$vbook-1-clr: #ffd57a;
$vbook-1-clr2: #fff0b8;
$vbook-2-clr: #f29180;
$vbook-2-clr2: #ffb0a1;
$vbook-3-clr: #98cbd9;
$vbook-3-clr2: #baf0ff;
$vbook-4-clr: #77ba8a;
$vbook-4-clr2: #9cd6ac;
$label-clr: lightgray;
$label-clr2: darkgray;

$width: 12.5%;

// .vertical-books {
//   // border: $border;
//   border-radius: 1.5px 1.5px 0 0;
//   height: $vertical-book-height;
//   width: $vertical-book-width;
//   width: 100px;
//   position: relative;
//   background-image: linear-gradient(
//     to right,
//     $vbook-1-clr $width,
//     $vbook-1-clr2 $width $width * 2,
//     $vbook-2-clr $width * 2 $width * 3,
//     $vbook-2-clr2 $width * 3 $width * 4,
//     $vbook-3-clr $width * 4 $width * 5,
//     $vbook-3-clr2 $width * 5 $width * 6,
//     $vbook-4-clr $width * 6 $width * 7,
//     $vbook-4-clr2 $width * 7
//   );
//   &::before {
//     content: "";
//     margin-top: 10px;

//     box-sizing: content-box;
//     display: flex;
//     height: 20px;
//     // margin-top: 20px;

//     background-image: linear-gradient(
//       to right,
//       $vbook-2-clr $width,
//       $vbook-2-clr2 $width $width * 2,
//       $vbook-3-clr $width * 2 $width * 3,
//       $vbook-3-clr2 $width * 3 $width * 4,
//       $vbook-1-clr $width * 4 $width * 5,
//       $vbook-1-clr2 $width * 5 $width * 6,
//       $vbook-2-clr $width * 6 $width * 7,
//       $vbook-2-clr2 $width * 7
//     );
//   }
//   &::after {
//     content: "";
//     margin-top: 40px;
//     display: flex;
//     border-top: double 10px blue;
//     border-bottom: double 10px yellow;
//   }
// }

.books-container {
  height: 500px;
  width: 500px;
  background-color: #fffefa;
  @include center-flex();
  flex-direction: column;
}

.books {
  border: $border;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.horizontal-books {
  margin-left: 100px;
}
.book {
  @include center-flex;
  height: $book-height;
  width: $book-width;
  border-radius: 2px;
}

.book-1 {
  margin-left: -3px;
  background-color: $book1-color;
  height: $book-height * 0.8;
  width: $book-width * 0.8;
  border-top-left-radius: $book-border-radius;
  border-bottom-left-radius: $book-border-radius;
  position: relative;

  &::after {
    content: "";
    background-image: repeating-linear-gradient(
      $book-pages 0 2.5px,
      lightgray 2.5px 4px
    );
    border-top-left-radius: $book-border-radius * 0.5;
    border-bottom-left-radius: $book-border-radius * 0.5;
    height: $book-height * 0.55;
    width: $book-width * 0.99;
    margin-left: 4%;
    margin-top: 0.5px;
  }
  &::before {
    content: "";
    margin-right: 25%;
    height: $book-height * 0.4;
    position: absolute;
    border-left: 4px solid $book1-ribbon;
    border-right: 4px solid $book1-ribbon2;
    border-bottom: 5px solid transparent;
  }
}

.book-2 {
  background-color: $book2-color;
  border-top-left-radius: $book-border-radius;
  border-bottom-left-radius: $book-border-radius;
  position: relative;
  &::after {
    content: "";
    background-image: repeating-linear-gradient(
      $book-pages 0 3px,
      lightgray 3px 4.5px
    );
    border-top-left-radius: $book-border-radius * 0.5;
    border-bottom-left-radius: $book-border-radius * 0.5;
    height: $book-height * 0.75;
    width: $book-width * 0.99;
    margin-left: 3%;
  }
  &::before {
    content: "";
    margin-right: 50%;
    height: $book-height * 0.5;
    position: absolute;
    border-left: 6px solid $book2-ribbon;
    border-right: 6px solid $book2-ribbon2;
    border-bottom: 6px solid transparent;
  }
}

.book-3 {
  margin-left: -25px;
  width: $book-width * 1.1;
  justify-content: space-around;
  background-image: linear-gradient($book3-color 0 60%, $book3-color2 60% 40%);

  &::before {
    content: "";
    height: $book-height * 0.6;
    background-color: $book-pages;
    background-image: linear-gradient(
      $book3-label 0 65%,
      $book3-label2 65% 100%
    );
    width: $book-width * 0.3;
  }
  &::after {
    content: "";
    background-image: linear-gradient(
      $book3-color3 0 60%,
      $book3-color4 60% 100%
    );
    border-top-right-radius: $book-border-radius;
    border-bottom-right-radius: $book-border-radius;
    margin-right: -$book-width * 0.23;
    height: $book-height;
    width: $book-width * 0.2;
  }
}

.book-4 {
  width: $book-width * 1.2;
  height: $book-height * 1.15;
  font-family: $font;
  color: #454545;
  font-size: 12px;
  border-right: 10px double $book4-border;
  border-left: 10px double $book4-border;
  background-image: linear-gradient($book4-color 0 60%, $book4-color2 60% 100%);
  &::before {
    content: "";
    border-left: 10px double $book4-border;
    height: $book-height * 1.15;
    padding: 2px;
  }

  &::after {
    content: "";
    border-left: 3px solid $book4-border;
    height: $book-height * 1.15;
  }
}

.book-5 {
  width: $book-width * 1.4;
  height: $book-height * 1.2;
  font-family: $font;
  color: #454545;
  font-size: 12px;
  background-image: linear-gradient($book5-color 0 60%, $book5-color2 60% 100%);
  &::before {
    padding: 5px;
    content: "";
    border-right: 7px double $book5-border;
    height: $book-height * 1.2;
    margin-right: 5vw;
  }

  &::after {
    content: "";
    border-radius: 1px;
    width: $book-width * 0.3;
    height: $book-height * 0.8;
    background-color: $book-pages;
    background-image: linear-gradient(
      $book5-label 0 65%,
      $book5-label2 65% 100%
    );
  }
}

// Keyframes

@keyframes books-animation {
  100% {
    transform: translateY(-45px);
  }
}

@keyframes books-animation2 {
  0% {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(45px);
  }
}
