@import "universal_styles.scss";
$book-height: 22px;
$book-border-radius: 2px;
$book-width: $book-height * 4;
$book-pages: #fffefa;
$book1-clr: #5d758d;
$book2-clr: #f0af9c;
$book2-ribbon: #93b1cf;
$book2-ribbon2: #5d758d;
$book3-clr: #eed6b9;
$book3-clr2: #d1af9a;
$book3-clr3: #93b1cf;
$book3-clr4: #5d758d;
$book3-label: #93b1cf;
$book3-label2: #5d758d;
$book4-clr: #ffeee8;
$book4-clr2: #fcddd2;
$book4-border: #a0c0db;
$book5-clr: #92b1dd;
$book5-clr2: #7089ac;
$book5-border: #eed6b9;
$book5-label: #eed6b9;
$book5-label2: #d1af9a;
$font: "Open Sans", sans-serif;

$delays: 0s, 0.2s, 0.4s, 0.6s, 0.8s, 1s;
$delays2: 2.2s, 2s, 1.8s 1.6s, 1.4s, 1.2s;

@for $i from 1 to 6 {
  $delay: nth($delays, $i);
  .book-#{$i} {
    // animation: books-animation 1s $delay forwards;
  }
}

$width: 12.5%;

.books-container {
  @include center-flex();
  flex-direction: column;
}

.book {
  @include center-flex;
  height: $book-height;
  width: $book-width;
  border-radius: 2px;
}

.book-1 {
  margin-left: -3px;
  background-color: $book1-clr;
  height: $book-height * 0.8;
  width: $book-width * 0.8;
  border-top-left-radius: $book-border-radius;
  border-bottom-left-radius: $book-border-radius;
  position: relative;

  &::after {
    content: "";
    height: $book-height * 0.55;
    width: $book-width * 0.99;
    border-top-left-radius: $book-border-radius * 0.5;
    border-bottom-left-radius: $book-border-radius * 0.5;
    margin-left: 4%;
    background-image: repeating-linear-gradient(
      $book-pages 0 2.5px,
      lightgray 2.5px 4px
    );
  }
}

.book-2 {
  background-color: $book2-clr;
  border-top-left-radius: $book-border-radius;
  border-bottom-left-radius: $book-border-radius;
  margin-right: $width * 0.1;
  position: relative;

  &::after {
    content: "";
    background-image: repeating-linear-gradient(
      $book-pages 0 3px,
      lightgray 3px 4.5px
    );
    border-top-left-radius: $book-border-radius * 0.5;
    border-bottom-left-radius: $book-border-radius * 0.5;
    height: $book-height * 0.75;
    width: $book-width * 0.99;
    margin-left: 3%;
  }
  &::before {
    content: "";
    margin-right: 50%;
    height: $book-height * 0.4;
    position: absolute;
    border-left: 4px solid $book2-ribbon;
    border-right: 4px solid $book2-ribbon2;
    border-bottom: 4px solid transparent;
  }
}

.book-3 {
  margin-left: $width * 0.08;
  width: $book-width * 1.1;
  justify-content: space-around;
  background-image: linear-gradient($book3-clr 0 60%, $book3-clr2 60% 40%);
  &::before {
    content: "";
    height: $book-height * 0.6;
    width: $book-width * 0.3;
    background-image: linear-gradient(
      $book3-label 0 65%,
      $book3-label2 65% 100%
    );
  }
  &::after {
    content: "";
    height: $book-height;
    width: $book-width * 0.2;
    background-image: linear-gradient($book3-clr3 0 60%, $book3-clr4 60% 100%);
    border-top-right-radius: $book-border-radius;
    border-bottom-right-radius: $book-border-radius;
    margin-right: -$book-width * 0.23;
  }
}

.book-4 {
  width: $book-width * 1.2;
  height: $book-height * 1.15;
  border-right: 9px double $book4-border;
  border-left: 9px double $book4-border;
  background-image: linear-gradient($book4-clr 0 60%, $book4-clr2 60% 100%);
  &::before {
    content: "";
    border-left: 10px double $book4-border;
    height: $book-height * 1.15;
    padding: 2px;
  }
  &::after {
    content: "";
    border-left: 3px solid $book4-border;
    height: $book-height * 1.15;
  }
}

.book-5 {
  width: $book-width * 1.4;
  height: $book-height * 1.2;
  background-image: linear-gradient($book5-clr 0 60%, $book5-clr2 60% 100%);
  &::before {
    content: "";
    margin-right: $book-width * 0.45;
    border-right: 14px double $book5-border;
    height: $book-height * 1.2;
  }
  &::after {
    content: "";
    border-radius: 1px;
    width: $book-width * 0.35;
    height: $book-height * 0.8;
    background-image: linear-gradient(
      $book5-label 0 65%,
      $book5-label2 65% 100%
    );
  }
}
