@import "./universal_styles.scss";

.container {
  @include center-flex;
  border: 1px solid gray;
  position: relative; //dont remove
  z-index: -10; //dont remove
  height: 500px;
  width: 500px;
  background-color: #eaf3ff;
}
