@import "../universal_styles.scss";

$tape-clr: #fff5ab;
$tape-clr2: #fce4a4;
$tape-clr3: #fad678;
$tape-ticks: #595959;
$tape-bottom-clr: #c2c2c2;
$tape-height: 10px;
$tape-width: 34px;

.tmpc-container {
  @include bookshelf-container;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tape-measure {
  // transform: scale(1.2);
}

.tape-measure-left {
  border-radius: 2px 0 0 1px;
  position: relative;
  display: flex;
  height: $tape-height;
  width: $tape-width;
  background-color: $tape-clr;
  box-shadow: 0px $tape-height * 0.3 $tape-clr2;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: $tape-height * 0.5;
    background-image: repeating-linear-gradient(
      to right,
      transparent,
      transparent 9%,
      $tape-ticks 9%,
      $tape-ticks 12%
    );
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: ($tape-height + $tape-height * 0.3) 0 0
      ($tape-height + $tape-height * 0.3);

    border-color: transparent transparent transparent $tape-clr3;
    margin-left: $tape-width;
    // position: absolute;
  }
}

.tape-measure-right {
  position: absolute;
  width: $tape-height;
  height: $tape-width * 1.5;
  background-color: $tape-clr;
  margin-left: $tape-width * 1;
  margin-top: $tape-height * 0.3;
  box-shadow: $tape-height * 0.25 0 $tape-clr2;
  &::before {
    content: "";
    position: absolute;
    width: 60%;
    height: $tape-width * 1.5;
    margin-left: -$tape-height * 0.5;
    margin-top: -1px;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 9%,
      $tape-ticks 9%,
      $tape-ticks 11%
    );
  }

  &::after {
    content: "";
    margin-top: $tape-width * 1.5;
    margin-left: -$tape-height * 0.5;
    border-radius: 0 0 1px 1px;
    box-shadow: $tape-height * 0.2 0 #b0b0b0;
    position: absolute;
    height: $tape-height;
    width: $tape-height;
    background-color: #666666;
    border: $tape-height * 0.35 solid $tape-bottom-clr;
  }
}

$pc-base-width: 50px;
$pc-base-height: 6px;
$pc-color: #7089ac;
$pc-color2: #405572;
$pc-base-clr: #c9ab8d;
$pc-base-clr2: #998471;

// base
.pin-cushion {
  position: relative;
  // border: 2px solid yellow;
  height: $pc-base-height;
  width: $pc-base-width;
  border-radius: 1px 1px 1px 1px;
  background-color: $pc-base-clr;
  box-shadow: 0 3px $pc-base-clr2;
  // cushion
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    height: $pc-base-width * 0.45;
    box-shadow: 0 $pc-base-width * 0.05 $pc-color2;
    width: $pc-base-width * 0.9;
    background-color: $pc-color;
    border-radius: 10em 10em 0 0;
    transform: translateY(-$pc-base-height * 4.2)
      translateX(-$pc-base-height * 3.75);
  }
}

// Colors
$pin-clr: #cfcfcf;
$pin-top-clr: #ff6969;

// Measurements
$pin-height: 20px;
$pin-width: 1px;
$pin-top-size: 4px;

.pin-cushion-container {
  // border: $test-border;
  // display: flex;
  // flex-direction: column;
}
// Pins
.pin {
  z-index: 5;
  margin-right: 8.5px;
  height: $pin-height;
  width: $pin-width;
  background-image: linear-gradient(to bottom, gray, $pin-clr);
  // background-color: $pin-clr;
  &::before {
    // z-index: 5;
    position: absolute;
    display: flex;
    content: "";
    height: $pin-top-size;
    width: $pin-top-size;
    border-radius: 50%;
    background-color: $pin-top-clr;
    transform: translateX(-$pin-width * 1.4) translateY(-$pin-width * 4);
  }
}

.pins {
  display: flex;
  z-index: 5;
  position: absolute;
  justify-content: space-around;
  transform: translateY(-$pin-height * 1.6);
}

// Rotating Pins
.pin:nth-child(1) {
  transform: rotate(-35deg) translateY(5px);
}
.pin:nth-child(2) {
  transform: rotate(-20deg);
}
.pin:nth-child(3) {
  transform: rotate(-9deg) translateY(-3px);
}
.pin:nth-child(4) {
  transform: rotate(3deg) translateY(-3px);
}
.pin:nth-child(5) {
  transform: rotate(20deg) translateY(-1px);
}
.pin:nth-child(6) {
  transform: rotate(35deg) translateY(5px);
}
