<!-- FOR CODE PEN -->

<div class='pom_container'>

  <div class='total_pom'>



    <div class='pom_top'>

      <div class='tops'>
        <div class='pom_top1'></div>
        <div class='pom_top2'></div>
        <div class='pom_top3'></div>
      </div>
      <div class='pom_top_base'></div>

    </div>

    <div class='pom_base'>



      <div class='pom_inner'>


        <div class='all_pom_seeds'>


          <div class='pom_seeds1 pom_seeds'>
            <div class='pom_seed3 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed2 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>

          </div>


          <div class='pom_seeds2 pom_seeds'>
            <div class='pom_seed2 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed2 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>

          </div>



          {/* <div class='pom_seeds3 pom_seeds'>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed2 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed2 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
          </div> */}


          <div class='pom_seeds4 pom_seeds'>
            <div class='pom_seed3 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed2 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed2 pom_seeds'></div>
          </div>


          <div class='pom_seeds5 pom_seeds'>

            <div class='pom_seed2 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>
            <div class='pom_seed1 pom_seeds'></div>
            <div class='pom_seed3 pom_seeds'></div>

          </div>
        </div>
        <div class='pom_inner_line'></div>

      </div>

    </div>
  </div>

</div>