@mixin center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_container {
  height:100vh;
  background-color: #214054;
  @include center_flex();
  flex-direction: row;
}

.landing_lime {
  margin-top:30px;
}

.landing_page_heading {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color:#f4ffab;
  font-weight: 200;
  font-size: 4em;
  text-align: left;
}

.landing_page_text {
  font-family: 'Oswald', sans-serif;
  color:#f4ffab;
  font-weight: 200;
  font-size: 1.2em;
  margin-top:-25px;
  text-align: left;
}

a.name {
  text-decoration: none;
  color:#7ebfb6;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

a.name:hover {
  color: #f4ffab;
}

.landing_page_name {  
  text-align: left;
  margin-top:-25px;
}



@keyframes name_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} 

