// Breakpoints for Media Queries
$breakpoint-ipad-pro: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-iphone-plus: 414px;
$breakpoint-pixel2: 411px;
$breakpoint-iphonex: 375px;
$breakpoint-galaxy: 360px;
$breakpoint-iphone5: 320px;
