
// html{
//   background-color: white;
// }

body {
  font-family: 'Oswald', sans-serif;
  // background-color:white;
  color:white;
}

h1 {
  text-transform: uppercase;
  color:white;
  font-weight: 300;
}