$background: #bd7b00;
$black: #293138;
$ghost: #f5faff;
$cheeks: #ffbfd6;

@mixin center_flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

// Ghost Container
.ghost_container {
  @include center_flex();
  flex-direction: column;
  height: 700px;
  background-color: $background;
  .ghost {
    @include center_flex();
    flex-direction: column;
    animation: ghost_float 4s infinite;
  }
}


// Ears
.ghost_ears {
  width:110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(20px);
  .ear1, .ear2 {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid $black;
  }
  .ear1 {
    transform: rotate(-38deg);
  }
  .ear2 {
    transform: rotate(38deg);
  }
}


// Head 
.ghost_head {
  height:100px;
  width:100px;
  border-radius: 50%;
  background-color: $black;
  display:flex;
  flex-direction: column;
  align-items: center;
  // Ghost Eyes
.ghost_eyes {
  width: 70px;
  margin-top:23px;
  display:flex; 
  justify-content: space-between;
  .outer_eye1, .outer_eye2 {
    background-color:white;
    height:24px;
    width:24px;
    border-radius: 50%;
    @include center_flex();
    
  }
  .ghost_eye1, .ghost_eye2 {
    display: flex;
    flex-direction: column;
    height: 15px;
    width:15px;
    border-radius: 50%;
    background-color:$black;
    .pupil1 {
      background-color: $ghost;
      height:6px;
      width:6px;
      border-radius: 50%;
      transform: translateX(5px);

    }
    .pupil2 {
      background-color: $ghost;
      height:4px;
      width:4px;
      border-radius: 50%;
      transform: translateX(3px);
    }
  }
}

}


// Ghost Body 
.ghost_body {
  background-color: $ghost;
  display:flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height:85px;
  width:100px;
  transform: translateY(-50px);
  // Ghost Cheeks 
  .ghost_cheeks { 
    transform: translateY(-11px);
    width:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cheek1, .cheek2 {
    background-color: $cheeks;
    height:13px;
    width:15px;
    border-radius: 50%;
    opacity:70%;
  }
  
 

  // Ghost Whiskers 
  .nose_whiskers {
    display:flex;
    flex-direction: row;
    // align-items: center;
    // Ghost Nose 
    .nose_mouth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(2px);
      .ghost_mouth {
        transform: translateY(.5px);
        display: flex;
        flex-direction: row;
      }
      .mouth {
        height: 4px;
        width:1px;
        background-color: $black;
        margin:1px;
        border-radius: 20%;
      }
      .mouth1 {
        transform: rotate(30deg);
      }
      .mouth2 {
        transform: rotate(-30deg);
      }
    }
    .ghost_nose {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $black;
      border-radius: 20px;
      transform: translateY(2.5px);
    
    }
    .whisker {
      height:1px;
      width: 12px;
      background-color: $black;
      margin-top:1px;
      border-radius: 40%;
      
    }
    .whiskers1,.whiskers2 {
      margin-top:3px;
    }
    .whisker1 {
      transform: rotate(15deg);
    }
    .whisker4 {
      transform: rotate(-15deg);
    }
    .whisker3 {
      transform: rotate(-15deg);
    }
    .whisker6{
      transform: rotate(15deg);
    }
  }
 

}

// Ghost Bottom 
.ghost_bottom_container {
  width:100px;
  .ghost_bottom {
    transform: translateY(-85px);
    .rect {
      background-color:$ghost;
      height:30px;
      width:20px;
      transform: translateY(10px);
    }
    @include center_flex();
    // transform: translateY(-60px);
    .circle {
      background-color: $ghost;
      height:20px;
      width:20px;
      border-radius: 50%;
    }
    .bottom_piece1, .bottom_piece3, .bottom_piece5 {
      animation:bottom_float 3s infinite;
    }
   
    .bottom_piece2, .bottom_piece4{
      animation:bottom_float2 5s infinite;
    }
   
  
  }
}


// Ghost Shadow 
.ghost_shadow {
	// position: relative;
	background-color: $black;
	border-radius: 50%;
	height: 12px;
	width: 110px;
	animation: ghost_shadow 4s infinite;
	box-shadow: 0 0 2px 5px $black;
}

// Keyframes 

@keyframes bottom_float {
  0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0px);
	}

}

@keyframes blink {
  0% {
		
	}
	50% {
		background-color: $black;
	}
	100% {
	
	}

}

@keyframes bottom_float2 {
  0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform: translateY(0px);
	}

}

@keyframes ghost_shadow {
	0% {
		opacity: .5;
		transform: scale(.85);
	}
	50% {
		opacity: 1.5;
		transform: scale(1.1);
	}
	100% {
		opacity: .5;
		transform:scale(.85);
	}
}

@keyframes ghost_float {
	0% {
		transform: translateY(-60px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-60px);
	}
}

@keyframes bottomAnimation {
	0% {
		transform: translateY(-60px) translate3d(10px, 0, 0);
	}
	50% {
		transform: translateY(-60px) translate3d(0px, 0, 0);
  }
  100% {
		transform: translateY(-60px) translate3d(-10px, 0, 0);
	}
}
