$background: #bd7b00;
$black: #293138;
$ghost: #f5faff;
$cheeks: #ffc9da;

@mixin center_flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.ghost_container {
  @include center_flex();
  height: 700px;
  background-color: $background;
}

.total_ghost {
  @include center_flex();
  flex-direction: column;
}

.ghost {
  @include center_flex();
  flex-direction: column;
  // animation: ghost_float 3s infinite ease;
}

// Ghost Ears 
.ghost_ears {
  width:110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(20px);
  .ear1, .ear2 {
    // background-color:$black;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid $black;
  }
  .ear1 {
    transform: rotate(-38deg);
  }
  .ear2 {
    transform: rotate(38deg);
  }
}



// Ghost head and Cheeks
.ghost_head {
  // z-index: 1;
  height:100px;
  width:100px;
  border-radius: 50%;
  background-color: $black;
  display:flex;
  flex-direction: column;
  align-items: center;

}

// Ghost Eyes
.ghost_eyes {
  width: 70px;
  margin-top:23px;
  display:flex; 
  justify-content: space-between;
  .outer_eye1, .outer_eye2 {
    background-color:white;
    height:24px;
    width:24px;
    border-radius: 50%;
    @include center_flex();
  }
  .ghost_eye1, .ghost_eye2 {
    display: flex;
    flex-direction: column;
    height: 15px;
    width:15px;
    border-radius: 50%;
    background-color:$black;
    .pupil1 {
      background-color: $ghost;
      height:6px;
      width:6px;
      border-radius: 50%;
      transform: translateX(5px);

    }
    .pupil2 {
      background-color: $ghost;
      height:4px;
      width:4px;
      border-radius: 50%;
      transform: translateX(3px);
    }
  }

}


// Ghost Body 
.ghost_body {
  background-color: $ghost;
  display:flex;
  // flex-direction: column;
  // justify-content: center;
  align-items:center;
  height:85px;
  width:100px;
  transform: translateY(-50px);
  // Ghost Cheeks 
  .ghost_cheeks { 
    width:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(-5px);
  }
  .cheek1, .cheek2 {
    background-color: $cheeks;
    height:13px;
    width:15px;
    border-radius: 50%;
    opacity: 50%;
  }

  // Ghost Whiskers 
  .nose_whiskers {
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  .whisker {
    height:1px;
    width: 10px;
    background-color: $black;
    margin-top:.3px;
  }


  .whisker1 {
    transform: rotate(12deg);
    
  }
  .whisker4 {
    transform: rotate(-12deg);
  }
  .whisker3 {
    transform: rotate(-12deg);

  }
  .whisker6{
    transform: rotate(12deg);

  }
  
  // Ghost Nose 
  .ghost_nose {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $black;
    border-radius: 20px;
    transform: translateY(2.5px);
  }
  // Ghost Mouth 
  .ghost_mouth {
    // background-color: $black;
    // height: 22px;
    // width:27px;
    // border-radius: 50%;
    // transform: translateY(-12px);

    // height:10px;
    // width: 7px;
    // border-radius: 10px 0 0 10px;
    // border-top: 4px solid $black;
    // border-left: 4px solid $black;
    // border-bottom: 4px solid $black;
    // transform:rotate(-90deg) translateX(10px);
   
  }
}

// Ghost Bottom 
.ghost_bottom_container {
  width:100px

}

.ghost_bottom {
  @include center_flex();
  animation:bottomAnimation 5s infinite;
}

.circle {
  background-color: $ghost;
  height:20px;
  width:20px;
  border-radius: 50%;
}

// Ghost Shadow 
// .ghost_shadow {
// 	// position: relative;
// 	background-color: $black;
// 	border-radius: 50%;
// 	height: 15px;
// 	width: 110px;
// 	// animation: lime_shadow 3s infinite;
// 	box-shadow: 0 0 2px 5px $black;
// }

// Keyframes 

@keyframes ghost_shadow {
	0% {
		opacity: .5;
		transform: scale(1);
	}
	50% {
		opacity: 1.5;
		transform: scale(1.15);
	}
	100% {
		opacity: .5;
		transform:scale(1);
	}
}

@keyframes ghost_float {
	0% {
		transform: translateY(-60px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-60px);
	}
}

@keyframes bottomAnimation {
	0% {
		transform: translateY(-60px) translate3d(10px, 0, 0);
	}
	50% {
		transform: translateY(-60px) translate3d(0px, 0, 0);
  }
  100% {
		transform: translateY(-60px) translate3d(-10px, 0, 0);
	}
}
