.blueberry_container {
  background-color: #d5ff9c;
  height: 500px;
}

.bloobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0px, -500px) scale(0.5);
          transform: translate(0px, -500px) scale(0.5);
}

.total_blueberry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(190px, 350px) rotate(-22deg);
          transform: translate(190px, 350px) rotate(-22deg);
}

.total_blueberry2 {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 430px);
          transform: translate(0, 430px);
}

.total_blueberry3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-180px, 320px) rotate(22deg);
          transform: translate(-180px, 320px) rotate(22deg);
}

.blueberry_base {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #82aaff;
  -webkit-box-shadow: 6px 0px #688ede;
          box-shadow: 6px 0px #688ede;
  border: 5px solid #688ede;
}

.blueberry_shadow {
  z-index: 1;
  position: relative;
  height: 205px;
  width: 100px;
  border-radius: 0 90px 90px 0;
  background-color: #688ede;
  -webkit-transform: translate(55px, 0px);
          transform: translate(55px, 0px);
}

.blueberry_stars {
  position: relative;
  z-index: 3;
  -webkit-transform: translate(138px, -75px) rotate(20deg);
          transform: translate(138px, -75px) rotate(20deg);
}

.blueberry_star_outer {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 65px solid #688ede;
  position: relative;
}

.blueberry_star_outer:after {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 65px solid #688ede;
  position: absolute;
  content: "";
  top: 20px;
  left: -35px;
}

.blueberry_star_inner {
  z-index: 2;
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 35px solid #82aaff;
  position: relative;
  -webkit-transform: translate(20px, -45px);
          transform: translate(20px, -45px);
}

.blueberry_star_inner:after {
  z-index: 1;
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 35px solid #82aaff;
  position: absolute;
  content: "";
  top: 10px;
  left: -15px;
}

.blueberry_leaves {
  position: relative;
  z-index: 1;
  -webkit-transform: translate(400px);
          transform: translate(400px);
}

.blueberry_leaf {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 90px;
  border-radius: 80%  0%  80% 0%;
  -webkit-animation: lime_leaf 3s infinite;
          animation: lime_leaf 3s infinite;
  background-color: #52ba6e;
}

.leaf1 {
  -webkit-transform: translate(50px, 110px) rotate(10deg);
          transform: translate(50px, 110px) rotate(10deg);
}

.leaf2 {
  -webkit-transform: translate(15px, 25px) rotate(-50deg);
          transform: translate(15px, 25px) rotate(-50deg);
}

.leaf3 {
  -webkit-transform: translate(75px, 50px) rotate(110deg);
          transform: translate(75px, 50px) rotate(110deg);
}

.leaf4 {
  -webkit-transform: translate(-25px, -35px) rotate(20deg);
          transform: translate(-25px, -35px) rotate(20deg);
}

.leaf5 {
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* .bloob_shadow {
  position: relative;
  index:0;
  height:90px;
  width:180px;
  border-radius: 50%;
  background-color: #dbb563;
  transform: translate(-185px, 120px)
} */
/*# sourceMappingURL=Blueberry.css.map */