.blueberry_container {
  background-color: #ffe6ea;
  height: 600px;
}

.bloobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translate(-90px);
          transform: scale(0.6) translate(-90px);
}

.total_blueberry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  -webkit-animation: bloob_float 3s ease infinite;
          animation: bloob_float 3s ease infinite;
}

.total_blueberry2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  -webkit-animation: bloob_float 3s ease infinite;
          animation: bloob_float 3s ease infinite;
}

.total_blueberry3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  -webkit-animation: bloob_float 3s ease infinite;
          animation: bloob_float 3s ease infinite;
}

.blueberry_base {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #91b4ff;
  -webkit-box-shadow: 6px 0px #759cf0;
          box-shadow: 6px 0px #759cf0;
  border: 5px solid #759cf0;
}

.blueberry_shadow {
  z-index: 1;
  position: relative;
  height: 205px;
  width: 100px;
  border-radius: 0 90px 90px 0;
  background-color: #759cf0;
  -webkit-transform: translate(55px, 0px);
          transform: translate(55px, 0px);
}

.blueberry_stars {
  position: relative;
  z-index: 3;
  -webkit-transform: translate(138px, -75px) rotate(20deg);
          transform: translate(138px, -75px) rotate(20deg);
}

.blueberry_star_outer {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 65px solid #759cf0;
  position: relative;
}

.blueberry_star_outer:after {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 65px solid #759cf0;
  position: absolute;
  content: "";
  top: 20px;
  left: -35px;
}

.blueberry_star_inner {
  z-index: 2;
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 35px solid #91b4ff;
  position: relative;
  -webkit-transform: translate(20px, -45px);
          transform: translate(20px, -45px);
}

.blueberry_star_inner:after {
  z-index: 1;
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 35px solid #91b4ff;
  position: absolute;
  content: "";
  top: 10px;
  left: -15px;
}

.blueberry_leaf {
  position: relative;
  z-index: 1;
  width: 90px;
  height: 110px;
  border-radius: 80%  0%  80% 0%;
  -webkit-animation: lime_leaf 3s infinite;
          animation: lime_leaf 3s infinite;
  background-color: #79d19c;
}

.leaf1 {
  -webkit-transform: translate(140px, -50px) rotate(55deg);
          transform: translate(140px, -50px) rotate(55deg);
}

.leaf2 {
  background-color: #79d19c;
  -webkit-transform: translate(300px, -160px) rotate(-125deg);
          transform: translate(300px, -160px) rotate(-125deg);
}

.blueberry_shadows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blueberry_shadow1 {
  background-color: #d9b2b8;
  border-radius: 50%;
  height: 60px;
  width: 120px;
  -webkit-animation: bloob_shadow 3s infinite;
          animation: bloob_shadow 3s infinite;
}

.blueberry_shadow2 {
  background-color: #d9b2b8;
  border-radius: 50%;
  height: 60px;
  width: 120px;
  -webkit-animation: bloob_shadow 3s infinite;
          animation: bloob_shadow 3s infinite;
}

.blueberry_shadow3 {
  background-color: #d9b2b8;
  border-radius: 50%;
  height: 60px;
  width: 120px;
  -webkit-animation: bloob_shadow 3s infinite;
          animation: bloob_shadow 3s infinite;
}

@-webkit-keyframes bloob_shadow {
  0% {
    opacity: .5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 1.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: .5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes bloob_shadow {
  0% {
    opacity: .5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 1.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: .5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes bloob_float {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

@keyframes bloob_float {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=Blueberry.css.map */