$blueberry:#82aaff;
$blueberry_shadow: #688ede;

@mixin center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueberry_container {
  // @include center_flex();
  background-color: #d5ff9c;
  height: 500px;
}

// WHOLE BLOOB STYLES
// Scaled 1/2 size
.bloobs {
display: flex;
position: relative;
z-index: 2;
transform: translate(0px,-500px)scale(.5);

}

// Left Blueberry Style
.total_blueberry {
 @include center_flex();
 transform: translate(190px,350px)rotate(-22deg)
}

// Center Blueberry Style
.total_blueberry2 {
  z-index: 1;
  @include center_flex();
  transform: translate(0,430px)
 }

// Right Blueberry Style
 .total_blueberry3 {
  @include center_flex();
  transform: translate(-180px,320px) rotate(22deg);
 }

.blueberry_base {
  z-index: 1;
  @include center_flex()
  height:200px;
  width:200px;
  border-radius: 50%; 
  background-color: $blueberry;
  box-shadow: 6px 0px $blueberry_shadow;
  border: 5px solid $blueberry_shadow;
}


.blueberry_shadow {
  z-index: 1;
  position: relative;
  height:205px;
  width:100px;
  border-radius: 0 90px 90px 0;
  background-color: $blueberry_shadow;
  transform: translate(55px,0px)
}


.blueberry_stars {
  position: relative;
  z-index: 3;
  transform: translate(138px, -75px) rotate(20deg);
}

.blueberry_star_outer {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 65px solid $blueberry_shadow;
  position: relative;

}

.blueberry_star_outer:after {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 65px solid $blueberry_shadow;
  position: absolute;
  content: "";
  top: 20px;
  left: -35px;
 
}

.blueberry_star_inner {
  z-index: 2;
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 35px solid $blueberry;
  position: relative;
  transform: translate(20px, -45px)
}

.blueberry_star_inner:after {
  z-index: 1;
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 35px solid $blueberry;
  position: absolute;
  content: "";
  top:10px;
  left: -15px;
}


.blueberry_leaves {
  position: relative;
  z-index: 1;
  transform: translate(400px)
}

.blueberry_leaf {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 90px;
  border-radius: 80%  0%  80% 0%  ;
  animation: lime_leaf 3s infinite;
  background-color: #52ba6e;
}
// Top Right
.leaf1 {
  transform: translate(50px,110px)rotate(10deg)

}
// Top Left
.leaf2{
  transform: translate(15px,25px)rotate(-50deg)

}

// Middle Right
.leaf3 {
  transform: translate(75px,50px)rotate(110deg)

}

.leaf4{
  transform: translate(-25px,-35px)rotate(20deg)

}

.leaf5{

  transform: translate(20px,-20px)
}

@keyframes scale {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }

  100% {
    transform:scale(1)
  }
}


/* .bloob_shadow {
  position: relative;
  index:0;
  height:90px;
  width:180px;
  border-radius: 50%;
  background-color: #dbb563;
  transform: translate(-185px, 120px)
} */