$background:#ffddd2;
$outer_top:#3d405b;
$outer_bottom:#e29578;
$inner_top:#edf6f9;
$inner_bottom:#ffe169;

@mixin center_flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $background;
  height:700px;
  width: 700px;
  @include center_flex();
}

.circles {
  position: absolute;
  margin-top: auto;
  margin-right: auto;
  // border:2px solid blue;
}

.outer_circle {
  animation: outer 20s linear infinite .5s;
}

.inner_circle {
  animation: inner 20s linear infinite .5s;
  z-index: 1;
}

.outer_circle_top {
  width:500px;
  height:250px;
  background-color: $outer_top;
  // border:5px solid hotpink;
  border-radius: 250px 250px 0px 0px;
}

.outer_circle_bottom {
  width:500px;
  height:250px;
  background-color:$outer_bottom;
  // border:5px solid darkseagreen;
  border-radius: 0px 0px 250px 250px;
}

.inner_circle_top {
  width: 300px;
  height:150px;
  background-color:$inner_top;
  border-radius: 150px 150px 0px 0px;
}

.inner_circle_bottom {
  width:300px;
  height:150px;
  background-color: $inner_bottom;
  border-radius: 0px 0px 150px 150px;

}

// Keyframes 
@keyframes outer {
  from {
    transform: rotate(-360deg)
  }
  to{
    transform: rotate(360deg);
  }
}


@keyframes inner {
  from {
    transform: rotate(360deg)
  }
  to{
    transform: rotate(-360deg);
  }
  
}