
$background:#ffe6eb;

@mixin center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watermelon_container {
    @include center_flex();
    flex-direction: column;
    height: 700px;
    background-color: $background;
}
