.pear_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe6ea;
  height: 500px;
}

.pear {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pear_top {
  position: relative;
  height: 135px;
  width: 120px;
  border-radius: 50%;
  background-color: #c5f08b;
  -webkit-transform: translate(0px, 65px);
          transform: translate(0px, 65px);
  border: 4px solid #b3db79;
}

.pear_top_shadow {
  position: relative;
  height: 135px;
  width: 68px;
  border-radius: 0 90px 90px 0;
  background-color: #b3db79;
  -webkit-transform: translate(54px, -4px);
          transform: translate(54px, -4px);
}

.pear_bottom {
  position: relative;
  z-index: 2;
  height: 160px;
  width: 170px;
  border-radius: 50%;
  background-color: #c5f08b;
}

.pear_bottom_outline {
  z-index: 2;
  position: relative;
  height: 160px;
  widows: 18px;
  border-radius: 50%;
  background-color: #b3db79;
  -webkit-transform: translate(-5px, -175px);
          transform: translate(-5px, -175px);
}

.pear_bottom_shadow {
  position: relative;
  height: 165px;
  width: 92px;
  border-radius: 0 90px 90px 0;
  background-color: #b3db79;
  -webkit-transform: translate(79.5px, -5px);
          transform: translate(79.5px, -5px);
}

.pear_bud {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #6b6763;
  -webkit-transform: translate(75px, -14px);
          transform: translate(75px, -14px);
}

.pear_stem {
  position: relative;
  z-index: 1;
  height: 45px;
  width: 8px;
  background-color: #6b6763;
  -webkit-transform: translate(-4px, -260px);
          transform: translate(-4px, -260px);
}

.stem_end {
  background-color: #6b6763;
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-transform: translate(12.3px, 8px);
          transform: translate(12.3px, 8px);
}

.stem_end2 {
  background-color: #6b6763;
  position: relative;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  -webkit-transform: translate(12px, -48px);
          transform: translate(12px, -48px);
}

.pear_leaf {
  position: relative;
  width: 45px;
  height: 75px;
  background-color: #81a34e;
  border-radius: 50px 0px;
  -webkit-transform: translate(-63px, -20px) rotate(45deg);
          transform: translate(-63px, -20px) rotate(45deg);
}

.pear_leaf2 {
  position: relative;
  width: 45px;
  height: 75px;
  background-color: #a4cf6d;
  border-radius: 50px 0px;
  -webkit-transform: translate(-57px, -80px) rotate(25deg);
          transform: translate(-57px, -80px) rotate(25deg);
}

.pear_divet {
  background-color: #9dc267;
  height: 22px;
  width: 36px;
  border-radius: 50%;
  -webkit-transform: translate(-3px, -272px);
          transform: translate(-3px, -272px);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Pear.css.map */