// Nav Bar Styles
.nav {
  background-color:#fbffab;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navbar {
  height: 80px;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
}

.navbar > ul >li {
list-style-type: none;
}

.navbar > ul > li >a  {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.6em;
  color: #3e3f40;
  margin-right:50px;
  
}

.navbar > ul > li > a:hover {
  color: #7ebfb6;
  text-decoration: none; 
}