$background-color:#748cab;
$border:#6a737a;
$oval: #37536b;
$oval-height: 100px;
$oval-width:200px;
$border-radius:100px;
$circle:#f0ebd8;
$circle-height:100px;

.toggle_container {
  // border:10px solid #edff96;
  height:700px; 
  width:700px;
  background-color: $background-color ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toggle_row {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-around;
  // border-bottom:20px solid yellow;
}
 

.toggle {
  height: 100px;
}

.toggle_row:nth-child(2n){
  .toggle_box:nth-child(2n+1){
    .toggle_circle{
      animation: circle_slide 5s linear infinite 3s;
     
      // transform: translate(100px, -100px);

    }
    // .oval {
    //   animation: oval_slide 5s linear infinite
    // }
  }
}

.toggle_row:nth-child(2n+1){
  .toggle_box:nth-child(2n){
    .toggle_circle{
      
      animation: circle_slide 10s linear infinite 3s;

      // background-color: yellow;
    }
  }
}

.oval {
  height:$oval-height;
  width:$oval-width;
  // background-color: $oval;
  // background: rgb(171,221,223);
  // background:$oval;
  background: linear-gradient(263deg, rgba(171,221,223,1) 2%, rgba(55,83,107,1) 100%);  
  border-radius: $border-radius;
  // border: 2px solid #edff96;
}

.toggle_circle{
  height:$circle-height;
  width:$circle-height;
  background-color:$circle;
  border-radius: 50%;
  z-index: 0;
  transform: translateY(-100px);
  // border:2px solid $border;
  animation: circle_slide 5s linear infinite;

}

// @keyframes circle_slide {
//   from { }
//   to {
//     transform: translate(100px, -100px)

//   }
// }


@keyframes circle_slide {

  0%, 5%, 95%, 100% {
    background-color: $circle;
      // left: 0%;
      // transform: translate(100px);
  }
  45%, 55% {
      // left: 100%;
      transform: translate(100px, -100px);
      // background-color: rgb(171,221,223);
      background-color: #eeff96;
      // background-color: $oval;
  }
}


// @keyframes oval_slide {

//   0%, 5%, 95%, 100% {
    
//   }
//   45%, 55% {
//     background-color: pink;
      
//   }
// }
