$background:#fdffb6;
$dots1: #9bf6ff;
$dots2: #ffc6ff;
$dots3:#caffbf;
$dots4: #bdb2ff;
$dots5: #ffd6a5;
$dots5:#ffadad;



.dots_container {
  height:700px;
  width:700px;
  background-color: $background;
}