html {
  height: 100%;
}

.art_container {
  width: 500px;
}

.display {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around
}
.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0px;
  font-weight: bolder;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bolder;
}