html {
  height: 100%;
  overflow: hidden;
}

.display {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}
.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
}

.description {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}