html {
  height: 100%;
  overflow: hidden;
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px;
}

.description {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}