.lemon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #497e99;
  height: 350px;
}

.lemon {
  position: relative;
  height:200px;
  width:160px;
  border-radius: 50%; 
  background-color: #ffd57a;
  box-shadow:6px 1px  #d4ad42;
}

.lemon_nobs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_nob {
  position: relative;
  z-index: 0;
  width:35px;
  height:45px;
  border-radius: 50%;
  background-color: #ffd57a;
  transform: translate(0, -108px)
} 

.top_bud {
  position: relative;
  height:10px;
  width:10px;
  border-radius: 50%; 
  background-color:#4d4640;
  transform: translate(12px)
}

.bottom_bud {
  position: relative;
  height:10px;
  width:10px;
  border-radius: 50%; 
  background-color:#4d4640;
transform: translate(12px, 37px)
}

.bottom_nob {
  position: relative;
  width:35px;
  height:45px;
  border-radius: 50%;
  background-color: #ffd57a;
  transform: translate(0, 28px)
}

.lemon_leaf {
  position: relative;
  z-index: 1;
  width: 55px;
  height: 95px;
  background-color:#aad481;
  transform:translate(-2px,-42px)rotate(40deg);
  border-radius: 70%  0%  70% 0%  ;
}