.big_container {
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lemon_container {
  height:500px; 
  width:500px; 
  display: inline;
  background-color: #497e99;
  position: absolute;
  text-align: center;
}

.lemon {
  transform:translate(125px,125px);
  width:230px;
  height:280px;
  border-radius: 50%;
  background-color: #ffd57a;
  box-shadow:8px 3px  #d4ad42;
}

.lemon_nobs  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lemon_nob_top {
  width:50px;
  height:65px;
  border-radius: 50%;
  background-color: #ffd57a;
  transform: translate(0, -150px)
}

.lemon_nob_bottom {
  width:50px;
  height:65px;
  border-radius: 50%;
  transform: translate(0, 40px);
  background-color:#ffd57a;
}


.lemon_leaf {
    width: 80px;
    height: 130px;
    background-color:#4e9c61;
    transform: translate(0px, -50px) rotate(40deg);
    border-radius: 70%  0%  70% 0%  ;

}

