.big_container {
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.olive_container {
  height:500px; 
  width:500px; 
  display: inline;
  background-color: #fff3a8;
  position: absolute;
  text-align: center;
  border-radius: 10%;
}

.olive {
  transform:translate(125px,120px);
  width:220px;
  height:270px;
  border-radius: 50%;
  background-color: #acc742;
  box-shadow:7px 7px #6b7a33;
}

.olive_hole {
  width:75px;
  height:55px;
  border-radius: 50%;
  transform: translate(80px, 20px)rotate(10deg) ;
  /* border: 1px solid black; */
  background-color:#c75642;
  box-shadow:4px 4px #852f1e;
}
  

.olive_eyes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.olive_right_eye {
  height:18px;
  width:18px;
  border-radius: 50%; 
  background-color:#363533;
  transform: translate(-35px, 60px)
}

.olive_left_eye {
  height:18px;
  width:18px;
  border-radius: 50%; 
  background-color:#363533;
  transform: translate(35px, 60px)
}

.pick_bottom {
  width: 130px;
  height:12px;
  background-color: #363533;
  transform: translate(35px, 50px) rotate(-20deg);

}

.pick_top {
  width: 120px;
  height:12px;
  background-color: #363533;
  transform: translate(345px, -60px) rotate(-20deg);
}

.arc {
  width: 28px;
  height:8px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border:3px solid  #363533;
  border-bottom:0;
  transform: rotate(70deg) translate(73px,  11px);
  
}

.olive_mouth {
  width: 45px;
  height:35px;
  border-radius: 50%;
  background-color: #363533;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  /* border:3px solid #363533; */
  /* border-bottom:0; */
  transform: translate(90px,80px);
}